/*
  说明：base是基础样式，icon是图表库，当然不下载图标库，也可以用上面的阿里矢量图的cdn链接地址
  mixin是函数，就是类型sass,less这种函数编程，此处我用的stylus跟sass,less类似，本项目所有的css都是用的它进行编译的，它的配置信息在package.json中可以查到
  reset是样式重置
  variable是一些设计规范，比方说项目的主题是蓝色，那么在这里就定义一个蓝色，使用的时候引用就行，这样修改一处就可以修改全局的主题色
*/

@import "./reset.styl"
@import "./base.styl"
@import "//at.alicdn.com/t/font_541761_hfdwhf0rqgjh5mi.css"
